.sidenav-container {
    height: calc(100% - max(10%,3rem));
    width: 100%;
    position:absolute
}
.spacer{
    flex: 1 1 auto;
}
.sidenav-content {
    min-width: 5vw;
    max-width: 20vw;
    width: auto;
}
.toolbar {
    height: 10%;
    min-height: 3rem;
}
.toolbar-menu-option:hover {
    text-decoration:underline;
}

.mat-icon.large-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
    line-height: 40px;
}

div.dev{
    position:absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: black;
    color:green;
    overflow-y: scroll;
}
.logo-link{
    cursor: pointer;
}
