<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<mat-toolbar color="primary" class="toolbar">
 <!--<button mat-icon-button aria-label="Abre/Cierra el menú" (click)="toggleSidenav()">
    <mat-icon aria-hidden="showSidenav" aria-label="Sidenav" [fontIcon]="(this.sidenavToggle) ? 'close':'menu'">
    </mat-icon>
  </button>--> 

  <span routerLink="home" class="logo-link" *ngIf="userLoginOn"> <img src="https://i.ibb.co/FVrqqMX/1-removebg-preview.png" alt=""   width="10%" > MaxPaws</span>
  <span routerLink="/" class="logo-link" *ngIf="!userLoginOn"> <img src="https://i.ibb.co/FVrqqMX/1-removebg-preview.png" alt=""   width="10%" > MaxPaws</span>
  <span class="spacer"></span>
  <button class="toolbar-menu-option" routerLink="home" mat-button aria-label="Home" *ngIf="userLoginOn">
    Home
  </button>
  <button class="toolbar-menu-option" routerLink="appointments" mat-button aria-label="Consulta tus citas" *ngIf="userLoginOn">
    Citas
  </button>
  <button class="toolbar-menu-option" routerLink="vaccines" mat-button aria-label="Consulta tus vacunas" *ngIf="userLoginOn">
    Vacunas
  </button>
  <!--<button class="toolbar-menu-option" routerLink="recommendations" mat-button
    aria-label="Consulta nuestras recomendaciones" *ngIf="userLoginOn">
    Recomendaciones
  </button>-->
  <button (click)="toggleDarkTheme()">dark</button>

  <ng-container *ngIf="userLoginOn">
    <button mat-icon-button aria-label="Tu perfil" [matMenuTriggerFor]="account_menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #account_menu="matMenu" >
      <button mat-menu-item routerLink="account/edit/{{userID}}">
        <mat-icon>account_circle</mat-icon>
        <span>Ver cuenta</span>
      </button>
     <!-- <button mat-menu-item routerLink="account/edit/5">
        <mat-icon>edit</mat-icon>
        <span>Editar cuenta</span>
      </button>-->
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu> 
</ng-container>
<ng-container *ngIf="!userLoginOn">
  <button mat-icon-button aria-label="Tu perfil" [matMenuTriggerFor]="account_menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #account_menu="matMenu" >
    <button mat-menu-item routerLink="login">
      <mat-icon>arrow_right_alt</mat-icon>
      <span>Iniciar sesión</span>
    </button>
    <button mat-menu-item routerLink="register">
      <mat-icon>person_add</mat-icon>
      <span>Registrarse</span>
    </button>
  </mat-menu> 
</ng-container>
</mat-toolbar>
<!-- <mat-drawer-container class="sidenav-container">
  <mat-drawer class="sidenav-content" mode="side" [opened]="this.sidenavToggle" [style.width]="20%">
    <ol>
      <li><a id="link" href="#">Options</a></li>
      <li><a id="link" href="#">Help</a></li>
      <li><a id="link" href="#">About</a></li>
    </ol>

  </mat-drawer>
  <mat-drawer-content class="page-content">
    <button style="visibility: hidden;" (click)="toggleDev()" id="divdevbutton"></button>
    <div class="dev" id="divdev" *ngIf="dev">
      <p>
        this.sidenavToggle = {{this.sidenavToggle}}
      </p>
    </div>
  </mat-drawer-content>
</mat-drawer-container>-->

