<section class="hero">
    <div class="h-25">
        <h2>
            <img class="img-fluid" src="https://i.ibb.co/FVrqqMX/1-removebg-preview.png" alt="" style="max-width: 50%; height: auto;">
        </h2>
        <p>Lleva un control de las citas y vacunas de tu mejor amigo</p>
    </div>
</section>


<section class="features">
    <div class="feature">
        <mat-card-content>
            <h3>Control de Citas</h3>
            <p>
                Lleva un control detallado de sus Citas en el veterinario, coloca notas y mas, no te perederas de nada.
            </p>
            </mat-card-content>
    </div>
    <div class="feature">
        <mat-card-content>
            <h3>Control de Vacunas</h3>
            <p>
                Lleva un control sobre sus vacunas y su proxima cita. ¡Nunca Olvidaras una!
            </p>
            </mat-card-content>
    </div>
    <div class="feature">
        <mat-card-content>
            <h3>1...2...3... Tus mejores amigos</h3>
            <p>
               Lleva el control de tus mejores amigos
            </p>
            </mat-card-content>
    </div>
</section>
