<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button aria-label="Abre/Cierra el menú" (click)="toggleSidenav()">
    <mat-icon aria-hidden="showSidenav" aria-label="Sidenav" [fontIcon]="(this.sidenavToggle) ? 'close':'menu'">
    </mat-icon>
  </button>
  <span routerLink="/" class="logo-link"> <img src="https://media.canva.com/1/image-resize/1/220_143_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9YX28yMC9NQUZyX1FYX28yMC8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAJ5YLRPXlBzFbLRa84VWP4bgT76Q4lVWWYlMb56Q0yQa&exp=1692466813&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAO4VlOiXykVoHby-3_vsekG4r3hhwC_5KTcITX4gwu6v" alt=""   width="30%" > MaxPaws</span>
  <span class="spacer"></span>
  <button class="toolbar-menu-option" routerLink="appointments" mat-button aria-label="Consulta tus citas">
    Citas
  </button>
  <button class="toolbar-menu-option" routerLink="vaccines" mat-button aria-label="Consulta tus vacunas">
    Vacunas
  </button>
  <button class="toolbar-menu-option" routerLink="recommendations" mat-button
    aria-label="Consulta nuestras recomendaciones">
    Recomendaciones
  </button>
  <button mat-icon-button aria-label="Tu perfil" [matMenuTriggerFor]="account_menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #account_menu="matMenu">
    <button mat-menu-item routerLink="account">
      <mat-icon>account_circle</mat-icon>
      <span>Ver cuenta</span>
    </button>
    <button mat-menu-item routerLink="account/edit/5">
      <mat-icon>edit</mat-icon>
      <span>Editar cuenta</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
  

</mat-toolbar>
<mat-drawer-container class="sidenav-container">
  <mat-drawer class="sidenav-content" mode="side" [opened]="this.sidenavToggle">
    <ol>
      <li><a id="link" href="#">Options</a></li>
      <li><a id="link" href="#">Help</a></li>
      <li><a id="link" href="#">About</a></li>
    </ol>

  </mat-drawer>
  <mat-drawer-content class="page-content">
    <router-outlet></router-outlet>
    <button style="visibility: hidden;" (click)="toggleDev()" id="divdevbutton"></button>
    <div class="dev" id="divdev" *ngIf="dev">
      <p>
        this.sidenavToggle = {{this.sidenavToggle}}
      </p>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
