
<div class="container text-end">
    <button mat-flat-button color="primary" routerLink="/pets/new-pet">
        Registrar Mascota
    </button>
</div>
<div class="container">
    <h3>    <mat-icon class="example-icon">favorite</mat-icon>Mis mascotas</h3>

    <div class="row justify-content-center pt-4 ">
        <mat-card class="col-auto example-card" *ngFor="let mascota of pets">
            <mat-card-header>
                <!--<img mat-card-avatar srcset="https://material.angular.io/assets/img/examples/shiba1.jpg"
                    alt="Shiba Inu">-->
                <mat-card-title>{{mascota.name_pet}} <mat-icon class="example-icon">pets</mat-icon>
                </mat-card-title>
                <mat-card-subtitle>{{mascota.birth_date_pet}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" class="img-thumbnail ">
            <mat-card-content>
                <p>
                    <li>Color: {{mascota.pet_color}}</li>
                    <li>Genero: {{mascota.pet_gender}} </li>
                </p>
            </mat-card-content>
            <mat-card-actions class="d-grid gap-2 d-md-flex justify-content-md-end h-100">
                <button mat-fab extended color="primary" class="me-md-2 align-self-end">
                    <mat-icon>launch</mat-icon>
                    Ver
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>