.example-card {
  max-width: 400px;
  margin: 2px;
  background: var(--bs-tertiary-bg);
}

.card-images{
  max-height: 50%;
  max-width: 60%;
  position: relative;
}

mat-card-subtitle{
  color: var(--text-color);
}